<div class="topbar">
  <img class="profile-pic-small topbar-item" src="/public/images/mountain_photo_downsample.jpg" />


  <a class="topbar-item" href="/">Home</a>
  <a class="topbar-item" href="/about">About Me</a>


  <a href="https://github.com/Jessie-Jingwen-Lin" class="social topbar-item" target="_blank">
    <i class="fa fa-github"></i>
  </a>


  <a href="mailto:jessiejingwen@gmail.com" class="social topbar-item" target="_blank">
    <i class="fa fa-envelope"></i>
  </a>


  <a href="/public/files/resume.pdf" class="social topbar-last-item" target="_blank">
    <i class="fa fa-file"></i>
  </a>
</div>
