<div class="sidebar">
  <div class="container sidebar-sticky">

    <img class="profile-pic" src="/public/images/mountain_photo_downsample.jpg" />

    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">


      <div class="sidebar-nav-item horizontal-menu">
        <a class="{% if page.url == '/' %}active{% endif %}" href="/">Home</a>
        <a class="{% if page.url == '/about/' %}active{% endif %}" href="/about">About Me</a>
        <a href="/public/Resume-Jessie-Lin.pdf" target="_blank">
          <!-- <i class="fa fa-file"></i>&nbsp; -->
          Resume
        </a>
      </div>

      
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog Posts</a> -->


      <div class="sidebar-nav-item horizontal-menu" style="width: 80%; margin: 0 auto;">
        <a href="https://github.com/Jessie-Jingwen-Lin" class="horizontal-item social" target="_blank">
          <i class="fa fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/jiwlin/" class="horizontal-item social" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="mailto:jessiejingwen@gmail.com" class="horizontal-item social" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
      </div>


      <p class="sidebar-nav-item">&copy; 2021 Jingwen Lin</p>


    </nav>



  </div>
</div>
